body {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 45px;
    font-style: italic;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

#logo {
    display: flex;
    margin: 0 auto 0 15px;
    width: 190px;
    justify-content: center;
    font-size: 40px;
}

@media all and (max-width: 450px) {
    #logo {
        display: none;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 16px;
    }
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: whitesmoke;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.nav-link {
    display: flex;
    width: 100px;
    margin: 0 0px 0 0px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(bottom, darkslategrey, whitesmoke);
}

.welcome-page-items {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#textbox {
    background-color: #f89;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    color: black;
    font-style: italic;
}

#project-grid {
    display: grid;
    height: 100vh;

}

