body {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
    background: -webkit-linear-gradient(63deg, darkslategrey, rgb(184, 165, 165));
}

h1 {
    font-size: 45px;
    font-style: italic;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

#logo {
    display: flex;
    margin: 0 auto 0 15px;
    width: 190px;
    justify-content: center;
    font-size: 40px;
}

@media all and (max-width: 450px) {
    #logo {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}

.anchor {
    padding-top: 80px;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: whitesmoke;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.nav-link {
    display: flex;
    width: 100px;
    margin: 0 0px 0 0px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.welcome-page-items {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#textbox {
    background-color: #f89;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    color: black;
    font-style: italic;
}

div > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
    grid-gap: 3.5rem;
    list-style: none;
    padding-inline-start: 0px;
    max-width: 1200px;
    margin: 0 auto;
  }

  @media all and (max-width: 280px) {
      div > ul {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          grid-row-gap: 2rem; 
      }
  }

  .project-card-style {
    margin: 0 10px;
    background-color: aqua;
    box-shadow: 1px 1px 1px 1px black, -1px -1px 1px 1px black, -1px 1px 1px 1px black, 1px -1px 1px 1px black;
    /* change rgba */
  }

  .project-img {
      width: 100%;
  }

  .description {
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
  }

  .project-links {
    text-decoration: none;
    color: black;
  }

  .grid-header {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 3em;
  }

  .button {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 3em auto 3em auto;
    border: 1px solid black;
    background: rgb(150, 161, 110);
    width: fit-content;
    padding: 5px 10px;
    color: black;
  }

  .contact-header {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .collab {
      font-size: 40px;
  }

  .contact-box {
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      grid-template-rows: repeat(3, 100px);
      width: 100%;
      margin: 3rem auto;
      max-width: 1000px;
      column-gap: 2rem;
      justify-items: center;
  }

  .contact-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      text-decoration: none;
      color: black;
      width: fit-content;
  }

  .last-link {
    grid-column: 1 / 3;
  }

  @media all and (max-width: 380px) {
    .contact-box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .collab {
        font-size: 20px;
    }
  }

  .contact-img {
      height: 50px;
      width: 50px;
      background: white;
  }

  i {
      height: 25px;
      width: 25px;
  }