body {
    margin: 0 0;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 40px;
    text-decoration: underline italic;
}

#logo {
    display: flex;
    margin: 0 auto 0 15px;
    width: 200px;
    justify-content: center;
    font-size: 40px;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: aquamarine;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    width: 100px;
    margin: 0 0px 0 0px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ccc;
}

.welcome-page-items {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#textbox {
    background-color: #f89;
    border: none;
    font-family: "Inter", sans-serif;
    width: 200px;
    height: 30px;
    font-size: 30px;
    color: black;
}

