html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 0;
}

  div > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    grid-gap: 3.5rem;
    list-style: none;
    padding-inline-start: 0px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .project-card-style {
    max-height: auto;
    position: relative;
    background-color: aqua;
  }

  .project-img {
      width: 100%;
  }

  .description {
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
  }